body{
  justify-content: center;
  align-items: center;
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

h1{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
}

ul{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn-random{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 16px;
  font-weight:700;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

.btn-random:hover{
  background-color:#4095c6;
}

.search-container{
  margin: 0 auto;
  width: 570px; 
}

.search-box{
 
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  background-image: url('./img/searchicon.png');
  background-position: 20px 20px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;

}

.search-box:focus{
  width: 100%
}

.photo-list{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

}

.ind-photo:hover{
  opacity: 0.3;
}

.ind-photo{
  padding: 5px;
}

.author-text{
  transition: .5s ease;
  opacity: 0.9;
  color: white;
  font-size: 25px;
  transform: translateY(-80px); 
   -ms-transform: translateY(-150px); 
  text-align: center;
  background-color: darkgray;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}


.ind-photo:hover > div.author-text{
  opacity: 1;
}

ul{
  display: flex;
  flex-wrap: wrap;

}


