body{
  justify-content: center;
  align-items: center;
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

h1{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
}

ul{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search-box{
 
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  background-image: url('./img/searchicon.png');
  background-position: 20px 20px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;

}

.search-box:focus{
  width: 80%
}

.photo-list{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

}

.ind-photo:hover{
  opacity: 0.3;
}

.ind-photo{
  padding: 5px;
}

.author-text{
  transition: .5s ease;
  opacity: 1;
  color: white;
  font-size: 30px;
  transform: translateY(-150px); 
   -ms-transform: translateY(-150px); 
  text-align: center;
  background-color: darkgray;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.ind-photo:hover .author-text{
  opacity: 1;
} 





ul{
  display: flex;
  flex-wrap: wrap;

}


